@{
    ViewData["Title"] = "Contact";
}
<div class="bg-primary panel-body"><h2 class="text-center">@ViewData["Title"]</h2></div>

<div class="row">
    <div class="col-xs-6 col-md-3">
    </div>
    <div class="col-xs-6 col-md-6">
        <hr />
        <br />
        <address class="text-center" style="font-size:medium">
            Shyang Huang, Ph.D., Professor<br />
            Department of Physics<br />
            Missouri State University<br />
            <abbr title="Phone">P:</abbr>
            417.836.8436
        </address>
        <div class="container-fluid">
            <dl class="dl-horizontal" style="font-size:medium">
                <dt>
                    Support:
                </dt>
                <dd>
                    <a href="mailto:ShyangHuang@MissouriState.edu">ShyangHuang@MissouriState.edu</a>
                </dd>
                <dt>
                    Marketing:
                </dt>
                <dd>
                    <a href="mailto:ShyangHuang@MissouriState.edu">ShyangHuang@MissouriState.edu</a></dd>
            </dl>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
    </div>
</div>





