@{
    ViewData["Title"] = "AppSurvey";
}
<div class="bg-primary panel-body"><h2 class="text-center">教育部大專院校學生流向追蹤問卷調查</h2></div>

<div class="row">
    <div class="col-xs-6 col-md-3">
    </div>
    <div class="col-xs-6 col-md-6">
        <h3 class="text-center">畢業滿一年 105年修正版</h3>
        <hr />
        <br />
        <h3 class="text-center">這是一個為管理者設計的網路調查軟體.</h3>
        <br />
        <div class="container-fluid">
            <dl class="dl-horizontal" style="font-size:medium">
                <dt>
                    註冊填選:
                </dt>
                <dd>
                    任選 Email 帳號.
                </dd>
                <dt>
                    密碼:
                </dt>
                <dd>
                    任選. 範例: Secret123.
                </dd>
            </dl>

            <dl class="dl-horizontal" style="font-size:medium">
                <dt>
                    登錄管理:
                </dt>
                <dd>
                    Admin@Acme.com
                </dd>
                <dt>
                    密碼:
                </dt>
                <dd>
                    Secret123.
                </dd>
            </dl>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">

    </div>
</div>



